<!-- <?php
// Template Name: pagina inicial
?> -->


<div class="LPAbout">
    <h1 class="LPTitle">Comes&Bebes</h1>
    <p class="LPDescription">O restaurante para todas as fomes</p>
</div>
<div class="LPContainer">
    <h1 class="ContainerTitle">CONHEÇA NOSSA LOJA</h1>
    <div class="AllCategories">
       <h3 class="AllCategoriesTypes">Tipos de pratos principais</h3>
       <ul class="CategoriesNames">
       <!-- acho que isso aqui tem que ser renderizado com php mas não to sabendo fazer  -->
       </ul> 
    </div>
    <div class="PratosDoDia">
        <h3 class="DoDiaTitle"></h3>
        <!-- acho que isso aqui tem que ser renderizado com php mas não to sabendo fazer  -->
    </div>
    <button class="OtherOptions" type="button"><a class="goToProductsList">Veja outras opções</a></button>
    <div class="LojaFisica">
       <h1 class="LFTitle">VISITE NOSSA LOJA FÍSICA</h1>
       <div class="LFContent">
        <div class="Mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14700.922543994884!2d-43.1316667!3d-22.9048625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e97773b91b93bba!2sUniversidade%20Federal%20Fluminense%20-%20Campus%20Praia%20Vermelha!5e0!3m2!1spt-BR!2sbr!4v1660446288053!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="LFAdress">
                <img class="RestauranteImg" src="assets/garfo e faca.png">
                <p class="ResutauranteAdress">Rua Passos da Patria, 152, Rio de Janeiro, Brasil</p>
            </div>
            <div class="LFContato">
                <img class="ContatoImg" src="assets/telefone.png">
                <p class="ContatoNumber">(21)26295368</p>
            </div>
            <div class="slides">
                <ul class="slider">
                    <li>
                          <img src="assets/restaurante1.jpg" />
                    </li>
                    <li>
                          <img src="assets/restaurante 2.jpg" />
                    </li>
                    <li>
                          <img src="assets/lasanha bolonhesa.jpeg" />
                    </li>
                    <li>
                        <img src="assets/ramen.jpg" />
                    </li>
                    <li>
                        <img src="assets/coxinha-de-jaca.jpg" />
                    </li>
                </ul>
            </div>
        </div>

       </div> 
    </div>

</div>