<!-- <?php
// Template Name: novo endereço
?> -->


<div class="NEContainer">
    <p class="NEExplanation">Os endereços a seguir serão usados na página de finalizar pedido como endereços padrões, mas é possível modificá-los durante a finalização do pedido</p>
    <div class="NEFormulario">
        <h3 class="FormTitle">Novo Endereço</h3>
        <!-- Acho que isso pode ser usado criando formulario mas por via das duvidas criei na mao aqui também -->
        <form class="NomeESobrenome">
            <label class="UserName">Nome</label>
            <input class="InptNome" type="text" placeholder="Digite seu nome">
            <label class="UserSobrenome">Sobrenome</label>
            <input class="InptSobrenome" type="text" placeholder="Digite seu sobrenome">
        </form>
        <form class="CEPELograECompl">
            <label class="UserCEP">CEP</label>
            <input class="InptCEP" type="text" placeholder="Digite seu CEP">
            <label class="UserLogra">Logradouro</label>
            <input class="InptLogra" type="text" placeholder="Rua e número">
            <label class="UserCompl">Complemento</label>
            <input class="InptCompl" type="text" placeholder="Complemento do seu endereço">
        </form>
        <form class="BairroECidade">
            <label class="UserBairro">Bairro</label>
            <input class="InptBairro" type="text" placeholder="Seu bairro">
            <label class="UserCidade">Cidade</label>
            <input class="InptCidade" type="text" placeholder="Sua cidade">
        </form>
        <button class="saveAdress" type="button">SALVAR ALTERAÇÕES</button>
    </div>
</div>